body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #333333;
    line-height: 1.5;
}
.cardContainer{
    padding: 0.5vh;
    height: auto;
    /* border: 1vh #393939; */
    width: 38vh;
    /* box-shadow: 0px 1px 8px rgb(0 0 0 / 71%); */
    border: solid 1px rgb(166, 166, 166);
    border-radius: 6px;
    margin-left: 20vh;
    margin-top: 10vh;
    transition: 0.4s;

}
.cardContainer:hover{
    border: none;
    box-shadow: 0px 1px 8px rgba(255, 185, 6, 0.71); 

}
.container{
    padding: 0;
    width: 100%;
    height: 22vh;
    overflow: hidden;

   
}

.slide-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    height: 100%;
}

.slider{
    display: flex; 
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
    
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 100%;
    background-color: black;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    visibility: hidden;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 2ms;
}
.slider-nav a:hover{
    opacity: 1;
}
.text{
    padding: 2vh;
}
