body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    color: #333333;
    line-height: 1.8;
    
   
}

.topnav{

    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    font-size: 28px;
    color: #fff;

}
.span{
    color: #fe9445;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #fe9445;
    transition: .3s;
}
button{
    border: none;
    background: #fe9445;
    padding: 12px 30px;
    border-radius: 30px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
nav img{
    width: 15%;
    height: 15%;

}
.menu-icon {
    display: none;
}

.container{
    padding: 0;
    width: 100%;
    height: 350px;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgb(0 0 0 / 71%);
   
}

.slide-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    height: 100%;
}

.slider{
    display: flex; 
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    height: 100%;
    
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 100%;
    background-color: black;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    visibility: hidden;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 2ms;
}
.slider-nav a:hover{
    opacity: 1;
}

.Title-services{
    text-align: center;
    color: #fe9445;
    font-size: xxx-large;
    margin-top: 5%;
}

.containerCards{
    padding-left: 20%;
    padding-right: 20%;
    display: grid;
    grid-gap: 5%;
    grid-template-areas: "card1 card2 card3 card4";
    grid-template-columns: 22% 22% 22% 22%;
    text-align: center;
    margin-top: 5%;
}
article img{
    width: 40%;
    height: 40%;
    text-align: center;
    align-items: center;
}

/*CARDS SERVICES*/

main {
    display: grid;
    grid-template-areas: "card1 card2 card3";
    grid-template-columns: 28% 28% 28%;
    grid-gap: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .card {
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: white;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.888);
   
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    }
  
    h2 {
      position: absolute;
      inset: auto auto 30px 30px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
    }
    
    p, a {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
    }
    
    p {
      inset: auto auto 80px 30px;
      font-size: 17px;
      margin-bottom: 5vh;
    }
    
    a {
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }
    .button{
        color: white;
        background-color: #fe9445;
        padding: 10px;
        border-radius: 6px;
    }
    
    &:hover h2 {
      inset: auto auto 320px 30px;
      transition: inset .3s ease-out;
    }
    
    &:hover p, &:hover a {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
    }
    
    &:hover img {
      transition: opacity .3s ease-in;
      opacity: 1;
      filter: brightness(40%); 
     
       
    }
  
  }
  
  .material-symbols-outlined {
    vertical-align: middle;
  }

/* INICIO DE CSS FOOTER*/

footer{
    margin-top: 10%;
    background-color: #232323;
    height: 230px;
    color: #bbbbbb;
    padding: 5% 10%;
    clear: all;
}

.container-footer{
    display: grid;
    grid-template-areas: "Fimg text1 text2 button";
    grid-template-columns: 26% 26% 26% 20%;
    grid-gap: 4%;
}
.container-footer h5{
    color: white;
    margin-bottom: 7%;
    font-size: 15px;
    margin-top: 7%;
}
.container-footer p{
    margin-bottom: 7%;
}

.container-footer a{
    margin-bottom: 15px;
    color: #bbbbbb;
    text-decoration: none;
}
.container-footer img{
    grid-area: Fimg;
    width: 100%;
}
.text-footer{
    grid-area: text1;
}
.text2-footer{
    grid-area: text2;
}

.copy{
    text-align: center;
}

/* Estilo para o ícone de scroll */
#scroll-down {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* Oculto por padrão */
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
  
    color: white;
    
   
  }
  
  /* Se desejar um efeito de fade quando o ícone aparece */
  #scroll-down.show {
    display: block;
    opacity: 1;
    animation: pulse 1.5s infinite ease-in-out;
  }
  @keyframes pulse {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.2);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }


  #back-to-top {
    position: fixed;
    bottom: 54vh;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #fe9445;
    color: white;
    border: none;
    font-size: 24px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1000;
    border-radius: 1vh;/* Garante que o botão fique acima de outros elementos */
  }
  #back-to-top svg{
    color: white;
  }
  
  #back-to-top:hover {
    background: #e68332;
  }
  
  #back-to-top.show {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  
  #back-to-top.hide {
    opacity: 0;
    transform: translateY(20px);
  }
  
  

@media screen and (max-width: 750px){
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        

    }
    
    html, body {
        width: 100vw;
        overflow-x: hidden;
        max-width: 100%;
    }
    nav {
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    nav img{
        width: 14vh;
        height: 10vh;
        position: absolute;
        left: 4vh;
        top: 3vh;
    }

    /* Oculta a lista e o botão por padrão */
    #nav-list,
    nav > button {
        display: none;
    }

    /* Exibe o ícone do menu */
    .menu-icon {
        display: block;
        font-size: 28px;
        cursor: pointer;
        color: white;
        position: absolute;
        top: 20px;
        right: 10%;
    }

    /* Estiliza a lista do menu para aparecer como um dropdown */
    #nav-list {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10%;
        background: rgb(0 0 0 / 69%);
        width: 37vh;
        text-align: center;
        border-radius: 10px;
        padding: 10px 10px;
        height: 25vh;
    }

    #nav-list.active {
        display: flex;
        z-index: 10;
    }

    #nav-list li {
        padding: 10px;
    }

    nav > button {
        position: absolute;
        top: 25vh;
        right: 15%;
        width: 271px;
        text-align: center;
        background: #fe9445;
        border-radius: 23px;
        padding: 10px 0;
        z-index: 15;
    }

    nav > button.active {
        display: block;
    }
    .container{
        height: 30vh;
        box-shadow: none;
    }

    .Title-services{
        font-size: 25px
    }

    main{
        display: block;
        padding: 4vh;
        margin: 0;
    }

    .card{
        margin-bottom: 4vh;
        width: 100%;
        height: 39vh;
    }

    footer{
        width: 100%;
        height: auto;
        margin-top: 20%;
    }

    .container-footer{
        display: block;
        text-align: center;
    }
    .text-footer{
        display: block;
    }
    .text2-footer{
        display: block;
    }
    .text2-footer a{
        margin-top: 2vh;
    }
    .text3-footer{
        display: block;
    }
    .text3-footer button{
        margin: 2vh;
        border-radius: 12px;
    }
    .container-footer img{
        width: 50%;
        margin-top: 15%;
    }
    .container-footer h5{
        font-size: 23px;
    }
    .container-footer p{
        font-size: 19px;
    }
    .copy{
        text-align: center;
    }
}